.chips {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
  gap: 1.25rem;
  width: 100%;
  justify-items: start;
  margin-top: 1.5rem;
}

@media (max-width: 600px) {
  .chips {
    grid-template-columns: 1fr;
  }
}
